<div class="container">
  <h2>Welcome to PCOMBINATOR</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form' }) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-container">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

    </div>
      <%= f.submit "Sign up", class: "btn btn-blue" %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
