<div class="container text-center">
  <div class="row">
    <div class="col-lg-12">
      <h1>Top Stories</h1>
      <%= link_to "Submit", new_story_path%>
    </div>
  <div>
  <div class="row">
    <ol class="list-group">
      <% @stories.each do |story| %>
        <li class="story list-group-item">
          <div class="col-lg-12">
            <%= link_to story.title, url_for(story.link), target: "_blank" %>
            <%= story.description %>
            <%= link_to "discuss (#{pluralize(story.comments.count, 'comment')})", story %>
            <%= render partial: 'layouts/upvote_downvote', locals: {story: story} %>
            <%= pluralize(story.vote_score, 'point') %>
            <%= "#{story.hot} HOT SCORE" %>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</div>
