<div class="container">
  <%= form_for @story do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
    <%= f.label :link %>
    <%= f.text_field :link, class: 'form-control' %>
    <%= f.submit "Submit article", class: 'btn btn-blue' %>
  </div>
  <% end %>
</div>
