<div class="container">
  <%= @story.title %> posted by <%= @story.user.username %>
  <%= pluralize(@story.vote_score, 'point') %><br>
  <h3>Join the discussion</h3>
  <%= render partial: 'layouts/new_comment_form', locals: {story: @story,
        comment: @comment } %>

  <ul>
    <% @story.comments.each do |comment| %>
      <li>
        <%= comment.user.username %> says: <%= comment.body %><br>
        <div class="btn-group">
          <%= button_to "Upvote", [@story, comment, :upvote], { method: :post,
                class: 'btn btn-success' } %>
          <%= button_to "Downvote", [@story, comment, :downvote], { method: :post,
                class: 'btn btn-danger' } %>
        </div>
        <%= pluralize(comment.vote_score, 'point') %>
      </li>
    <% end %>
  </ul>
</div>
