<div class="container">
  <%= @story.title %> posted by <%= @story.user.username %>
  <%= pluralize(@story.vote_score, 'point') %><br>
  <h3>Join the discussion</h3>
  <%= render partial: 'layouts/new_comment_form', locals: {story: @story,
        comment: @comment } %>

  <ul>
    <% @story_comments.each_with_index do |comment, index| %>
      <li>
        <%= comment.user.username %> says: <%= comment.body %><br>
        <div>
          <%= render partial: 'layouts/upvote_downvote',
                locals: { objs: [@story, comment], user_vote: @user_comm_vote[index] } %>
        </div>
        <%= pluralize(comment.vote_score, 'point') %>
      </li>
    <% end %>
  </ul>
</div>
