<div class="container">
  <div class="form-container">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form'}) do |f| %>
      <div class="form-container">
        <h2>Sign In</h2>
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, class: "form-control" %>

          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>

          <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        <% end -%>
      </div>
      <%= f.submit "Sign in", class: "btn btn-blue" %>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
